stage_1:
  target: stage1.RAE
  params:
    encoder_cls: 'Dinov2withNorm'
    encoder_config_path: 'facebook/dinov2-with-registers-base'
    encoder_input_size: 224
    encoder_params:
      dinov2_path: 'facebook/dinov2-with-registers-base'
      normalize: true
    decoder_config_path: 'configs/decoder/ViTXL'
    noise_tau: 0 # training 0.8, at inference time always set to 0
    reshape_to_2d: true
    #normalization_stat_path: 'models/stats/dinov2/wReg_base/imagenet1k/stat.pt'
  ckpt: results/stage1/rae/checkpoints/ep-last.pt